* {
    font-family: Nunito;
}

.content {
    background: #f9f9f9;
    min-height: 100vh;
}

.risco {
    height: 1px;
    background: #E2E2E2;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.grid-container {
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 40px;
}

.logo {
    color: #100F0F;
    font-size: 56px;
    font-family: Caesar Dressing;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
}

.menu-alinha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.display-alinhamento {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display {
    max-width: max-content;
    position: flex;
    display: inline-block;
    width: 100%;
}

.imagem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    gap: 12px;
    border-radius: 4px;
}

.imagem.xbox {
    background-image: url('../Imagens/xbox.jpg');
}

.imagem.cyberpunk {
    background-image: url('../Imagens/cyberpunk.jpg');
}

.imagem.multiversus {
    background-image: url('../Imagens/multiversus.png');
}

.imagem.eagames {
    background-image: url('../Imagens/eagames.jpg');
    grid-column: span 3;
}

.imagem-card {
    aspect-ratio: 0.72;
}

.imagem-back {
    height: 500px;
}

.texto-maior {
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 600;
}

.texto-menor1 {
    color: #E2E2E2;
    font-size: 16px;
    font-weight: 600;
}

.texto-menor2 {
    color: #E2E2E2;
    font-size: 16px;
    font-weight: 600;
}

.texto-menor3 {
    color: #E2E2E2;
    font-size: 16px;
    font-weight: 600;
}

.texto-menor4 {
    color: #E2E2E2;
    font-size: 16px;
    font-weight: 600;
}

.distancia {
    padding: 40px 0 0 0;
}

.segundo-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 50px 0;
}

.segundo-menu p {
    padding: 0px 48px;
    font-size: 18px;
    font-weight: 600;
}

.carregar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 41px 0 41px 0;
    gap: 16px;
    color: #100F0F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 24px 0;
    color: #100F0F;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rodape-esquerdo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.rodape-direito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}